QWidget,QMainWindow {
	background-color: rgb(50, 50, 50);
	color : gray;
}

QGraphicsView{
    background-color: rgb(50, 50, 50);
}

QGroupBox{
    background-color: rgb(50, 30, 30);
}

QTextEdit{
    background-color: rgb(30, 50, 30);
}